<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="icon" type="image/x-icon" href="favicon.ico"/>
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="48x48" href="favicon-48x48.png"/>
    <link rel="icon" type="image/png" sizes="64x64" href="favicon-64x64.png"/>
    <link rel="icon" type="image/png" sizes="128x128" href="favicon-128x128.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="favicon-192x192.png"/>
    <link rel="icon" type="image/png" sizes="256x256" href="favicon-256x256.png"/>
    <link rel="apple-touch-icon" sizes="192x192" href="favicon-192x192.png"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>
    <HeadOutlet/>
</head>
<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>
</html>

@code {

}
